.containerNav{
    position: sticky;
    top: 0px;
    height:80px;
    background-color: rgba(0, 0, 0, 0.418);
   
}
.navbar-item{
    color:white;
    font-size: 25px;
    padding-right: 10px;
    font-weight: lighter;
}

.dropdown-list{
    padding: 20px;
}
.dropdown-list p{
    font-size: 20px;
    margin-bottom: 10px;
}